<!DOCTYPE html>
<html>
	{% load static %}
    <head>
        <title>Instawork &ndash; Mathew T Lathara</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Instawork full-stack take-home assignment">
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    </head>
    <body>
		<div class="uk-section uk-section-primary uk-section-small">
			<div class="uk-container">
				<a class="uk-logo" href="">Instawork</a>
			</div>
		</div>
		<div class="uk-container">
			<h3 class="uk-heading-divider uk-text-right">Full-stack Take-home Assignment<br>
				<span class="uk-text-muted uk-text-italic"><small>Mathew Thomas Lathara</small></span>
			</h3>
			<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
				<h3 class="uk-card-title uk-background-muted uk-padding-small uk-text-center">List Page</h3>
				<div class="uk-padding-small">
					<div class="uk-width-1-1"><a href="#add-member"  class="uk-align-right uk-text-primary" uk-icon="icon: plus" uk-tooltip="Add new member" uk-toggle></a><br></div>
					<div class="uk-width-1-1">
						<div><span class="uk-text-large uk-text-bold">Team members</span></div>
						<div><h4><small>You have <span id="mnums">{{totalcountofmembers}}</span> team Members</small></h4></div>
						<hr>
						
						<!-- <div uk-grid class="uk-margin-remove">
							<div class="uk-width-1-6"><img class="uk-thumbnail" src="{% static 'avatar+person.png' %}" alt=""></div>
							<div class="uk-width-expand">
								<dl class="uk-description-list">
									<dt><span class="uk-text-bold uk-text-capitalize"><a href="#edit-member" class="uk-text-secondary" uk-toggle>Adrien Olkzac </span>(Admin)</a></dt>
									<dd>415-310-1619</dd>
									<dd>adrien@instawork.com</dd>
								</dl>
							</div>
						</div>
						<hr>
						<div uk-grid class="uk-margin-remove">
							<div class="uk-width-1-6"><img class="uk-thumbnail" src="{% static 'avatar+person.png' %}" alt=""></div>
							<div class="uk-width-expand">
								<dl class="uk-description-list">
									<dt><span class="uk-text-bold uk-text-capitalize"><a href="#edit-member" class="uk-text-secondary" uk-toggle>Charlene Pham</a></dt>
									<dd>415-310-1619</dd>
									<dd>charlene@instawork.com</dd>
								</dl>
							</div>
							<hr>
						</div> -->
						{% for member in members %}
						<div uk-grid class="uk-margin-remove">
							<div class="uk-width-1-6"><img class="uk-thumbnail" src="{% static 'avatar+person.png' %}" alt=""></div>
							<div class="uk-width-expand">
								<dl class="uk-description-list">
									{% if member.role_type == 1 %}
									<dt><span class="uk-text-bold uk-text-capitalize"><a href="#edit-member" class="uk-text-secondary editmember" editmember-id={{member.id}} uk-toggle>{{member.first_name}} {{member.last_name}} </span>(Admin)</a></dt>
									{% else %}
									<dt><span class="uk-text-bold uk-text-capitalize"><a href="#edit-member" class="uk-text-secondary editmember" editmember-id={{member.id}} uk-toggle>{{member.first_name}} {{member.last_name}} </span></a></dt>
									{% endif %}
									<dd>{{member.phone_number}}</dd>
									<dd>{{member.email}}</dd>
								</dl>
							</div>
						</div>
						<hr>
						{% endfor %}
						
					</div>
						
				</div>
			</div>
			<div id="add-member" uk-modal>
				<div class="uk-modal-dialog">
					<button class="uk-modal-close-default" type="button" uk-close></button>
					<div class="uk-modal-header">
						<h2 class="uk-modal-title">Add a team member</h2>
					</div>
					<div class="uk-modal-body">
						<div class="uk-card uk-card-default uk-card-body">
							<div class="uk-padding-remove">
								<h4>Set Email, phone number and role</h4>
								<div class="uk-width-1-1">
									<form method="POST" action="/addmembers/">
										{% csrf_token %}
										<fieldset class="uk-fieldset">
											<legend class="uk-legend uk-text-bold"><small>Info</small></legend>
											
											{% for formelement in form%}
											<div class="uk-margin-small">
												
												{{formelement}}
											</div>
											{% endfor %}
											<legend class="uk-legend uk-text-bold"><small>Role</small></legend>
											<div uk-grid class="uk-margin-remove">
												<div class="uk-width-expand uk-margin-remove"><label>Regular - Can't delete members</label></div>
												<div class="uk-width-1-6 uk-align-right uk-margin-remove"><input class="uk-radio" type="radio" name="memberole" value="0" checked></div>
											</div>
											<hr class="uk-margin-small">
											<div uk-grid class="uk-margin-remove">
												<div class="uk-width-expand uk-margin-remove"><label>Admin - Can delete members</label></div>
												<div class="uk-width-1-6 uk-align-right uk-margin-remove"><input class="uk-radio" type="radio" name="memberole" value="1"></div>
											</div>
											<hr class="uk-margin">
											<div class="uk-margin-medium-top">
												<button class="uk-button uk-button-primary uk-align-right uk-border-rounded" type="submit">Save</button>
											</div>
										</fieldset>
									</form>
								</div>
									
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="edit-member" uk-modal>
				<div class="uk-modal-dialog">
					<button class="uk-modal-close-default" type="button" uk-close></button>
					<div class="uk-modal-header">
						<h2 class="uk-modal-title">Edit team member</h2>
					</div>
					<div class="uk-modal-body">
						<div class="uk-card uk-card-default uk-card-body">
							<div class="uk-padding-remove">
								<h4>Edit Contact info and role</h4>
								<div class="uk-width-1-1">
									<form>
										<fieldset class="uk-fieldset">
											<legend class="uk-legend uk-text-bold"><small>Info</small></legend>
											
											<!-- <div class="uk-margin-small">
												<input class="uk-input" type="text" placeholder="First name" name="firstname" id="edit_firstname">
											</div>
											<div class="uk-margin-small">
												<input class="uk-input" type="text" placeholder="Last name" name="lastname" id="edit_lastname">
											</div>
											<div class="uk-margin-small">
												<input class="uk-input" type="email" placeholder="Email" name="emailid" id="edit_emailid">
											</div>
											<div class="uk-margin-small">
												<input class="uk-input" type="text" placeholder="Phone number" name="phone" id="edit_phone">
											</div>
											<input type="hidden" id="edit_id">
											<legend class="uk-legend uk-text-bold"><small>Role</small></legend>
											
											<div uk-grid class="uk-margin-remove">
												<div class="uk-width-expand uk-margin-remove"><label>Regular - Can't delete members</label></div>
												<div class="uk-width-1-6 uk-align-right uk-margin-remove"><input class="uk-radio edit_radio" type="radio" name="memberole" value="0" id='edit_reg'></div>
											</div> -->
											<hr class="uk-margin-small">
											<div uk-grid class="uk-margin-remove">
												<div class="uk-width-expand uk-margin-remove"><label>Admin - Can delete members</label></div>
												<div class="uk-width-1-6 uk-align-right uk-margin-remove"><input class="uk-radio edit_radio" type="radio" name="memberole" value="1" id='edit_admin'></div>
											</div>
											<hr class="uk-margin-small">
											<div class="uk-margin-medium-top">
												<button class="uk-button uk-button-default uk-border-rounded uk-text-danger uk-text-bold deletemember" type="button">Delete</button>
												<button class="uk-button uk-button-primary uk-align-right uk-border-rounded updatemembers" type="button">Save</button>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-section uk-section-primary uk-section-small">
			<div class="uk-container uk-text-center uk-text-small">Copyrights &copy; Instawork</div>
		</div>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script>
			$(document).on('click', '.editmember',function(){
            var memberid = $(this).attr("editmember-id");
            //alert(passengerid);
            $.ajax({
              type: 'GET',
              url: 'http://127.0.0.1:8000/memberdetails/'+memberid+"/", // change port number if the default port is not 8000
              success: function(data) {
                // alert(JSON.stringify(data.id));
                $("#edit_firstname").val(data.first_name);
                $("#edit_lastname").val(data.last_name);
                $("#edit_emailid").val(data.email);
                $("#edit_phone").val(data.phone_number);
				$("#edit_id").val(data.id);
				if(data.role_type === 1){
					$("#edit_admin").prop("checked", true);
				} else {
					$("#edit_reg").prop("checked", true);
				}
				
              },
              error: function(error) {
                alert("Error while retriving flight passenger edit list");
              }
            });
        });

		$(document).on('click', '.updatemembers', function(){
				var first_name = $("#edit_firstname").val();
                var last_name = $("#edit_lastname").val();
                var email = $("#edit_emailid").val();
                var phone = $("#edit_phone").val();
				var autoid = $("#edit_id").val();
				var radioval = $('input[name=memberole].edit_radio:checked').val();
				//alert(radioval);
				data = {'first_name':first_name, 'last_name':last_name, 'email':email, 'phone_number':phone,'id':autoid, 'role_type':radioval}
				$.ajax({
					type: 'PUT',
					data: data,
					url: 'http://127.0.0.1:8000/memberdetails/'+ autoid+"/", // change port number if the default port is not 8000
					success: function(data) {
						//alert(JSON.stringify(data));
						location.reload();
					},
					error:function(data) {
						alert("There is an error in your software. Contact support.");
					}
				});
		});

		$(document).on('click', '.deletemember', function(){
			var autoid = $("#edit_id").val();
			if (confirm("Are you sure you want to delete?")) {
				$.ajax({
					type: 'DELETE',
					url: 'http://127.0.0.1:8000/memberdetails/'+ autoid+"/", // change port number if the default port is not 8000
					success: function(data) {
						//alert(JSON.stringify(data));
						location.reload();
					},
					error:function(data) {
						alert("There is an error in your software. Contact support.");
					}
				});
			}
		});
		</script>
    </body>
</html>